@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "./styles/theme.css";

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeLoop 10s linear infinite;
}

@keyframes marqueeLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}